form {
    max-width: 400px;
    margin: auto;
}

body {
    background-color: #C1EBF9;
}

body>div>form {
    background-color: #E2DEF5;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
    width: 300px;
    height: 150px;
}

body>div>form>button {
    color: white;
    background-color: black;
    padding: 5px;
    width: 50px;
}

body>div>p {
    font-family: Garamond, serif;
    font-size: 50px;
    text-align: center;
    display: block;

}

body>div>form>div>input {
    padding: 5px;
    width: 200px;

}